.container {
	padding: 3.75rem 3rem;
}

h1 {
	font-size: 3.25em;
	line-height: 1.175;
	font-weight: 400;
}

.avatar {
	border-radius: 50%;
	width: 15rem;
}

.content {
	color: rgba(255, 255, 255, 0.749);
	font-family: "Sulphur Point", sans-serif;
	font-size: 1.75em;
	line-height: 1.55;
	font-weight: 300;
}

.content a {
	margin-right: 25px;
}

.page__nav a {
	margin-right: 20px;
}
